<!DOCTYPE html>
<html>
  <head>
    <title>Exotics</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="app">
      <index/>
    </div>
  </body>

</html>

<%= javascript_include_tag 'application' %>
